<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/vue"></script>
    <title>Vue Test</title>
  </head>
  <body>
    <div id="app">
      <p>{{ info }}</p>
      <p>{{ info2 }}</p>

      <select v-model="firstOption">
        <optgroup v-for="(item, index) in phenotypeMap" :label="index">
          <option v-for="listvalue in phenotypeMap[index]" :value="listvalue">{{
            listvalue
          }}</option>
        </optgroup>
      </select>

      <select
        v-model="secondOption"
        @change="getData(firstOption, secondOption)"
        v-if="firstOption"
      >
        <option v-for="item in datasetlist" :value="item">{{ item }}</option>
      </select>

      <span>Selected: {{ secondOption }}</span>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          info: null,
          info2: null,
          firstOption: null,
          secondOption: null,
          thirdOption: null,
          phenotypeMap: null,
          datasetlist: null,
          dataSelect: null
        };
      },
      mounted() {
        fetch("/getPhenotypes")
          .then(response => response.json())
          .then(json => {
            this.info = json;
            this.phenotypeMap = json;
            console.log(json);
          });
        fetch("/getDatasets")
          .then(response => response.json())
          .then(json => {
            this.info2 = json;
            this.datasetlist = json;
            console.log(json);
          });
      },
      methods: {
        getData(firstOption, secondOption) {
          let url = `/getData/${firstOption}/${secondOption}`;
          fetch(url)
            .then(response => response.json())
            .then(json => {
              this.info = json;
              this.dataSelect = json;
              console.log(json);
            });
        }
      }
    });
  </script>
</html>
